.signup__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}
.signup__controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  height: 400px;
  width: 400px;
  margin: 83px;
}
.signup__controls input {
}
.signup__controls button {
  background-color: rgba(106, 108, 141, 0.788);
  border-radius: 10px;
  height: 30px;
  width: 180px;
}
